:root {
  font-size: 62.5%;
  --color-primary: #e3610e;
  --color-border: #ccc;
  --color-background: #fafbfd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body,
#root {
  min-height: 100%;
  background-color: rgb(220, 220, 220, 0.1);
}
@media screen and (min-width: 280px) and (max-width: 699px) {
  html,
  body,
  #root {
    min-width: 100vw;
    min-height: 100vh;
  }
}
